h1,
p {
  font-family: Lato;
}
.auth-background {
  background: #b8adc1;
  color: #fff;
  height: calc(100vh + 14px);
}
.auth-form {
  max-width: 300px !important;
}

.ui.primary.button {
  background: #553370;
}
